body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    height: 100vh; 
    background: linear-gradient(to bottom, #000033 0%, #000066 100%); 
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #333; 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out; 
  }
  
  button:hover {
    background-color: #666; 
  }

  h1 {
    background-color: #333; 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out; 
  }